@tailwind base;
@tailwind components;
@tailwind utilities;


.submit {
    letter-spacing: 14px;
    font-family: sans-serif;
}

.letterSpacing {
    letter-spacing: 4px;
}

.letterSpacingMB {
    letter-spacing: 1px;
}